@tailwind base;
@tailwind components;
@tailwind utilities;


a.active {
  background-color: #438c76;
  padding: 7px;
  border-radius: 10px;
  color: white;
}

h1, h2, h3, h4, h5, h6,button {
  font-family: 'Playfair Display', serif;
}
body, p, span, li {
  font-family: 'Open Sans', sans-serif;
}